<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="drawer">
    <div
        class="drawer-backdrop"
        id="drawerBackdrop"
        aria-hidden="true"
    ></div>

    <aside
        class="editorial-drawer"
        id="editorialDrawer"
        aria-hidden="true"
    >
        <div class="drawer-header">
            <strong>Santa Cultura Viva</strong>

            <button
                class="drawer-close"
                id="drawerClose"
                type="button"
                aria-label="Cerrar men&uacute;"
            >
                &times;
            </button>
        </div>

        <nav
            class="drawer-nav"
            aria-label="Navegaci&oacute;n lateral"
        >
            <a th:href="@{/}">
                Inicio
            </a>

            <a th:href="@{/fepuc}">
                FEPUC
            </a>

            <a th:href="@{/que-es}">
                &iquest;Qu&eacute; es Santa Cultura Viva?
            </a>

            <a th:href="@{/alertas}">
                Alertas
            </a>

            <a th:href="@{/cronicas}">
                Cr&oacute;nicas
            </a>

            <a th:href="@{/curaduria}">
                Curadur&iacute;a
            </a>

            <a th:href="@{/eventos}">
                Eventos
            </a>

            <a th:href="@{/foranexs}">
                For&aacute;nexs en Red
            </a>

            <a th:href="@{/convocatorias}">
                Convocatorias
            </a>

            <a th:href="@{/suscripcion}">
                Suscripci&oacute;n
            </a>

            <a th:href="@{/contacto}">
                Contacto
            </a>
        </nav>
    </aside>
</div>

</body>
</html>